<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Typeform submit form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style type="text/css">
        body {
            font-family: 'Varela Round', sans-serif;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <br><br>
                <img style="width: 50%"
                    src="https://tribus.com/wp-content/uploads/2017/02/ed68148f2a7dc13507dd790ebadb2fd5-e1487790686216.png">
                <h2 style="color:#0fad00; text-align: center">Success</h2>
                <p style=" font-size:20px;color:#5C5C5C;text-align: center">Thank you, your submission has been
                    received</br>
                    <br><br>
            </div>

        </div>
    </div>
</body>

</html>